body{
    /* background-image:url("../img/home-background.jpg"); */
    text-align: center;
    background: var(--primary-color);
    background-attachment: round;
    background-repeat: no-repeat;
    transition: 0.5s;

}
.headerMenu li
{
    cursor: pointer;
}
a {
    text-decoration: none;
    color:black;
}

.navigationBar li {
    margin:0px 1px 0px 1px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link
{

    transition:0.3s;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
{
    color:#0a58ca;
    transition:0.3s;
}
.eMaloutBtn
{
    /* display: inline-block; */
    
    font-weight: 400;
    line-height: 1.5;
    font-family: gros;
    color: #e6e8eb;
    background-color: #3b6d8f;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* background-color: transparent; */
    /* border: 1px solid transparent; */
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out;
    margin-left:3px;
    margin-right:3px;
}
.eMaloutBtn:hover{
    color:#e6e8eb;    
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0
{
    margin-left: auto;
    margin-right: auto;

}
.navbar-light .navbar-nav .nav-link
{
    color:#FDFEFE;
    font-weight: 800;
}
.navigationBar li
{
    margin:0px 25px 0px 25px;
    color: #e6e8eb !important;;
    font-weight: bold;
}
nav.navbar.navbar-expand-lg.navbar-light.navigationBar
{
    background: #CCD1D1;
    box-shadow: 0px 4px 5px 0px #FDFEFE;
}
input.header-search.me-2 {
    border: none;
    padding: 10px 18px;
    border-radius: 49px;
    transition: 0.4s;
}

input.header-search.me-2:focus {
    border: none;
    padding: 10px 18px;
    border-radius: 49px;
    transition: 0.4s;
}
form.d-flex {
    margin-top: 9px;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    margin-left: 24px;
}
.card-body.homeCardBody {
    box-shadow: 0px 40px 60px -30px #e6e8eb;
    /* border-radius: 30px; */
}
.card-body.homeCardBody
{
    background: transparent;
    border-radius: 20px;
    /* padding: 0px 0px 10px 0px; */
}
.card.cards-homePage {
    border-radius: 20px;
}
.search-button-header
{
    border-radius: 15px;
}
.card-title {
    margin-bottom: 0px;
    /* background: red; */
    padding: 6px 0px;
    border-radius: 20px;
}
